.bd-footer {
  font-size: .875rem;
  color: #63707c;
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.bd-footer-links li {
  display: inline-block;
}

.bd-footer a {
  font-weight: 600;
  color: #495057;
}

.bd-footer p {
  margin-bottom: 0;
}